<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Iris Flower Classifier</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 

  <link rel="icon" type="image/png" href="/static/images/iris-favicon.png">

  <!-- fonts! -->
   <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
</head>

<body>
  <div id="flower-splash-zone"> </div>

  <div class="main">
    <h1>Iris Flower Classifier</h1>
    <h3> Enter iris flower measurements to predict its species. (pssst, click on the purple background for a surprise!) </h3>

    <div class="form-in">
      <form method="POST">
        <div class="input-row">
          <div class="input-box">
            <label>Sepal Length (cm)</label>
            <input type="number" name="sepal_length" step="any" required>
          </div>
          <div class="input-box">
            <label>Sepal Width (cm)</label>
            <input type="number" name="sepal_width" step="any" required>
          </div>
        </div>

        <div class="input-row">
          <div class="input-box">
            <label>Petal Length (cm)</label>
            <input type="number" name="petal_length" step="any" required>
          </div>
          <div class="input-box">
            <label>Petal Width (cm)</label>
            <input type="number" name="petal_width" step="any" required>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg">Predict!</button>
        </div>
      </form>
    </div>

    {% if result %}
      <div class="{% if result == 'error' %}error-box{% else %}info-box{% endif %}">
        {% if result == 'error' %}
          <strong>Please enter valid numeric values!</strong>
        {% else %}
          <strong>Iris Species:</strong> {{ result|capitalize }}
        {% endif %}
        {% if image_filename %}
          <div class="flower-image-container">
            <img src="{{ url_for('static', filename=image_filename) }}" alt="Image of Iris {{ result }}" class="flower-image">
          </div>
        {% endif %}
      </div>
    {% endif %}

    

    <div class="footer">
      Made with 💖 by <a href="https://github.com/shreya-0718" target="_blank" style="font-weight: bold";>Shreya</a> 🌼
    </div>
  </div>

  <script>

    const splashZone = document.getElementById('flower-splash-zone');

    const flowerImages = [
      'flower1.png',
      'flower2.png',
      'flower3.png',
      'flower4.png',
      'flower5.png',
      'flower6.png'
    ];

    const mainBox = document.querySelector('.main');
    const button = document.querySelector('button');

    document.addEventListener('click', (e) => {
      const x = e.clientX;
      const y = e.clientY;

      const mainRect = mainBox.getBoundingClientRect();

      if (
        x > mainRect.left &&
        x < mainRect.right &&
        y > mainRect.top &&
        y < mainRect.bottom
      ) return; // if click in the main box, dont make flower

      const flower = document.createElement('img');
      const randomFile = flowerImages[Math.floor(Math.random() * flowerImages.length)];
      const angle = (Math.random() * 90) - 45;  // angle from -45 to +45
      flower.style.transform = `rotate(${angle}deg)`;
      
      flower.src = `/static/images/splash/${randomFile}`;
      flower.className = 'floating-flower';
      flower.style.left = `${x - 40}px`;
      flower.style.top = `${y - 40}px`;

      splashZone.appendChild(flower);

      setTimeout(() => {
        flower.style.opacity = '0';
        flower.style.transform = 'translateY(-10px) scale(1.1)';
      }, 3000); 

      setTimeout(() => {
        flower.remove();
      }, 4200); 

    });

  </script>

</body>
</html>